/*============================= max-width: 767px =====================================*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 20px;
    top: 40px;
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerTitle {
    color: rgb(47, 47, 47);
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    margin: 0;
}

.closeButton {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
}

.closeIcon {
    width: 12px;
    height: 12px;
}

.questApprove {
    color: rgb(47, 47, 47);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 24px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deleteButton {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
    background: rgb(239, 80, 80);
    padding: 8px 30px 8px 30px;
    border: none;
    width: 232px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.cancelButton {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
    background: rgb(215, 227, 255);
    padding: 8px 30px 8px 30px;
    border: none;
    width: 232px;
    height: 36px;
    color: rgb(64, 123, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.deleteButton:hover,
.cancelButton:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 1);
}

.deleteButton:active,
.cancelButton:active {
    box-shadow: none;
}

.deleteButton:focus,
.cancelButton:focus {
    outline: transparent;
}

/*============================= min-width: 768px =====================================*/
@media only screen and (min-width: 768px) {

    .modalWindow {
        width: 592px;
        height: 208px;
    }

    .buttons {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row-reverse;
    }

    .deleteButton {
        width: 160px;
        height: 44px;
    }

    .cancelButton {
        width: 160px;
        height: 44px;
    }

    .headerTitle {
        margin-right: 136px;
    }
}