/* .logo {
  display: flex;
  align-items: center;
  gap: 4px;
} */

.text {
  max-width: 58px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #407bff;
}

.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
