.app {
  width: 320px;
  padding: 0 20px;
  height: 100vh;
  margin: 0 auto;
  border: 2px solid blue; /*для тестування*/
}

@media (min-width: 768px) {
  .app {
    width: 768px;
    padding: 0 32px;
  }
  
}

@media (min-width: 1440px) {
  .app {
    width: 1440px;
    padding: 0 112px;
  }
  
}

 /* доступні шрифти */

/* .robotoRegular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.robotoMedium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.robotoBold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.robotoBlack {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
} */
