.mainContainer {
    box-sizing: border-box;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 40px;
}

body {
    background-image: url("/images/BkgMobile.png");
    background-size: contain;
    background-position: bottom center; /* Sticks the image to the bottom and centers it */
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Media Queries for Tablet (768px) */
@media (min-width: 768px) {
    .mainContainer {
        margin-top: 40px;
    }

    body {
        background-image: url("/images/BkgTablet.png");
        background-size: auto; /* Keeps the image at its original size */
        background-position: bottom center; /* Sticks the image to the bottom and centers it */
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

/* Media Queries for Web (1440px) */
@media (min-width: 1440px) {
    .mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 80px;
        padding: 0;
        margin: 80px 103px;
        max-width: 1440px;
    }

    body {
        background-image: url("/images/BkgWeb.png");
    }
}
